{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid">

	<h1>
		IMDbear
	</h1>

	<div class="row d-none">
		<div class="col-sm-4">

			<div class="card shadow my-4">
				<div class="card-body">
					<form id="form">
						<div class="form-group">
							<label for="data">Data</label>
							<input id="data" name="data" class="form-control" type="date" value="{{ hoje }}" />
						</div>

						<button type="submit" class="btn btn-primary">Listar</button>
					</form>
				</div>
			</div>

		</div>
	</div>

	<div class="card shadow my-4">
		<div class="card-body" id="div-grafico"></div>
	</div>

	<div class="card shadow my-4">
		<div class="card-body" id="div-grafico-generos"></div>
	</div>

	<div class="card shadow my-4">
		<div class="card-body" id="div-grafico-anos"></div>
	</div>

</div>

<script src="/static/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/js/jquery-validate/additional-methods.min.js"></script>
<script src="/static/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="/static/js/chart.js/chart.min.js"></script>

<script type="text/javascript">
	"use strict";

	$("#form").validate({
		rules: {
			data: {
				required: true
			}
		},
		submitHandler: function () {
			atualizarDados();
		}
	});

	async function atualizarDados() {
		waitSwal();

		try {

			let response = await fetch("/obterDados");

			if (response.ok) {

				Swal.close();

				let div = document.getElementById("div-grafico");
				div.innerHTML = '<canvas id="grafico-barras" style="height: 50vh;"></canvas>';

				let labels = [], data = [];

				let dados = await response.json();
				if (!dados || !dados.top10.length) {
					Swal.fire("Erro", "Sem dados!", "error");
					return;
				}

				for (let i = 0; i < dados.top10.length; i++) {
					labels.push(dados.top10[i].titulo);
					data.push(dados.top10[i].nota);
				}

				let grafico = new Chart(document.getElementById("grafico-barras"), {
					type: "bar",
					data: {
						labels: labels,
						datasets: [{
							label: "Média de Avaliações",
							backgroundColor: "#4e73df",
							hoverBackgroundColor: "#2e59d9",
							borderColor: "#4e73df",
							data: data,
						}],
					},
					options: {
						plugins: {
							title: {
								display: true,
								text: "Top 10 Filmes Mais Bem Avaliados"
							}
						},
						maintainAspectRatio: false,
						layout: {
							padding: {
								left: 10,
								right: 25,
								top: 25,
								bottom: 0
							}
						},
						scales: {
							x: {
								gridLines: {
									display: false,
									drawBorder: false
								},
								ticks: {
									maxTicksLimit: 10
								},
								maxBarThickness: 25,
							},
							y: {
								//display: false,
								ticks: {
									min: 0,
									max: 10,
									maxTicksLimit: 10,
									padding: 10
								},
								gridLines: {
									color: "rgb(234, 236, 244)",
									zeroLineColor: "rgb(234, 236, 244)",
									drawBorder: false,
									borderDash: [2],
									zeroLineBorderDash: [2]
								}
							},
						},
						legend: {
							display: false
						},
						tooltips: {
							titleMarginBottom: 10,
							titleFontColor: '#6e707e',
							titleFontSize: 14,
							backgroundColor: "rgb(255,255,255)",
							bodyFontColor: "#858796",
							borderColor: '#dddfeb',
							borderWidth: 1,
							xPadding: 15,
							yPadding: 15,
							displayColors: false,
							caretPadding: 10
						},
					}
				});

				div = document.getElementById("div-grafico-generos");
				div.innerHTML = '<canvas id="grafico-barras-generos" style="height: 50vh;"></canvas>';

				labels = [];
				data = [];

				if (!dados || !dados.top10generos.length) {
					Swal.fire("Erro", "Sem dados!", "error");
					return;
				}

				for (let i = 0; i < dados.top10generos.length; i++) {
					labels.push(dados.top10generos[i].nome);
					data.push(dados.top10generos[i].nota);
				}

				grafico = new Chart(document.getElementById("grafico-barras-generos"), {
					type: "bar",
					data: {
						labels: labels,
						datasets: [{
							label: "Média de Avaliações",
							backgroundColor: "#df4e73",
							hoverBackgroundColor: "#d92e59",
							borderColor: "#df4e73",
							data: data,
						}],
					},
					options: {
						plugins: {
							title: {
								display: true,
								text: "Top 10 Gêneros Mais Bem Avaliados"
							}
						},
						maintainAspectRatio: false,
						layout: {
							padding: {
								left: 10,
								right: 25,
								top: 25,
								bottom: 0
							}
						},
						scales: {
							x: {
								gridLines: {
									display: false,
									drawBorder: false
								},
								ticks: {
									maxTicksLimit: 10
								},
								maxBarThickness: 25,
							},
							y: {
								//display: false,
								ticks: {
									min: 0,
									max: 10,
									maxTicksLimit: 10,
									padding: 10
								},
								gridLines: {
									color: "rgb(234, 236, 244)",
									zeroLineColor: "rgb(234, 236, 244)",
									drawBorder: false,
									borderDash: [2],
									zeroLineBorderDash: [2]
								}
							},
						},
						legend: {
							display: false
						},
						tooltips: {
							titleMarginBottom: 10,
							titleFontColor: '#6e707e',
							titleFontSize: 14,
							backgroundColor: "rgb(255,255,255)",
							bodyFontColor: "#858796",
							borderColor: '#dddfeb',
							borderWidth: 1,
							xPadding: 15,
							yPadding: 15,
							displayColors: false,
							caretPadding: 10
						},
					}
				});

				div = document.getElementById("div-grafico-anos");
				div.innerHTML = '<canvas id="grafico-barras-anos" style="height: 50vh;"></canvas>';

				labels = [];
				data = [];

				if (!dados || !dados.top10anos.length) {
					Swal.fire("Erro", "Sem dados!", "error");
					return;
				}

				for (let i = 0; i < dados.top10anos.length; i++) {
					labels.push(dados.top10anos[i].ano.toString());
					data.push(dados.top10anos[i].nota);
				}

				grafico = new Chart(document.getElementById("grafico-barras-anos"), {
					type: "bar",
					data: {
						labels: labels,
						datasets: [{
							label: "Média de Avaliações",
							backgroundColor: "#73df4e",
							hoverBackgroundColor: "#59d92e",
							borderColor: "#73df4e",
							data: data,
						}],
					},
					options: {
						plugins: {
							title: {
								display: true,
								text: "Média de Avaliações por Ano"
							}
						},
						maintainAspectRatio: false,
						layout: {
							padding: {
								left: 10,
								right: 25,
								top: 25,
								bottom: 0
							}
						},
						scales: {
							x: {
								gridLines: {
									display: false,
									drawBorder: false
								},
								ticks: {
									maxTicksLimit: 10
								},
								maxBarThickness: 25,
							},
							y: {
								//display: false,
								ticks: {
									min: 0,
									max: 10,
									maxTicksLimit: 10,
									padding: 10
								},
								gridLines: {
									color: "rgb(234, 236, 244)",
									zeroLineColor: "rgb(234, 236, 244)",
									drawBorder: false,
									borderDash: [2],
									zeroLineBorderDash: [2]
								}
							},
						},
						legend: {
							display: false
						},
						tooltips: {
							titleMarginBottom: 10,
							titleFontColor: '#6e707e',
							titleFontSize: 14,
							backgroundColor: "rgb(255,255,255)",
							bodyFontColor: "#858796",
							borderColor: '#dddfeb',
							borderWidth: 1,
							xPadding: 15,
							yPadding: 15,
							displayColors: false,
							caretPadding: 10
						},
					}
				});

			} else {
				await exibirErro(response);
			}

		} catch (ex) {
			Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
		}
	}

	atualizarDados();

</script>

{% endblock %}
